.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__delete-button {
  background-image: url(../images/delete-icon.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
}

.card__delete-button:hover {
  background-image: url(../images/delete-icon-hover.svg);
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin-bottom: 0px;
  padding: 0;
  margin-top: 12px;
  font-size: 20px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(../images/like-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  margin: 6px 0 0;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/liked-icon.svg);
  opacity: 1;
}


.card__like-button_active:hover {
  opacity: .4;
}


@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
