
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  padding: 0;
  margin-top: 12px;
  font-size: 20px;
}

.card__like_button {
  background-image: url(../images/like-icon.svg);
  width: 23px;
  height: 20px;
  border: 2px;
  background-color: transparent;
  opacity: 40%;
  margin: 6px 0 0;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

}