.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-button {
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  position: absolute;
  border: none;
  background-color: #fff;
  opacity: 40%;
}

.modal__close-button_type_preview {
  top: 0;
  right: -52.5px;
  width: 40px;
  height: 40px;
  position: absolute;
  border: none;
  background-color: transparent;
}

.modal__close-button_type_preview:hover {
  cursor: pointer;
  background-color: transparent;
  opacity: 40%;
}

.modal__close-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: #212121b3;
  font-size: 16px;
  font-weight: 500;
}

.modal__input {
  display: block;
  box-sizing: border-box;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid #21212166;
}

.modal__input::placeholder {
  color: #2121214d;
  font-size: 20px;
  font-weight: 500;
}

.modal__submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 156px;
  height: 52px;
  border-radius: 8px;
  margin-right: auto;
  margin-top: auto;
  border: none;
  color: #fcf5e5;
  background-color: #212121;
  transition: background-color 1s;
  cursor: pointer;
}

.modal__submit-button:hover {
  background-color: #212121;
  opacity: 0.6;
}

.modal__submit-button:focus,
.modal__submit-button:active {
  background-color: #212121;
  transition: none;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vh;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  padding: 4px 8px;
  display: inline-block;
}


@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px 12px;
  }

  .modal__title {
    font-size: 20px;
    font-weight: 500;
  }

  .modal__label {
    font-size: 16px;
    font-weight: 500;
  }

  .modal__input {
    font-size: 16px;
    font-weight: 500;
  }

  .modal__submit-button {
    display: block;
    width: 100%;
  }

  .modal__close-button {
    position: absolute;
    top: 0;
    right: 12px;
  }
}

@media screen and (max-width: 627px) {
  .modal__close-button_type_preview {
    top: -50px;
    right: 0;
  }
}